# Autogen files
/bin/**/*.o
/bin/**/*.x
/bin/**/*.hx
/bin/**/*.py
/bin/**/*.so*
/bin/**/*.vscript
/bin/**/*.d
/bin/**/*.pc
/bin/**/*.log

# Other
/bin/c4che/sambadeps
/bin/default/docs-xml/**
/lib/*/bin/
/st/
.waf*
.lock-wscript
.build.log
*~
*.swp
/tags
/TAGS
GPATH
GRTAGS
GSYMS
GTAGS
cscope*.out
autom4te.cache
/source3/.clang_complete
*.patch
*.pyc
semantic.cache
/selftest/gnupg/random_seed
/selftest/gnupg/.gpg-*
/pidl/blib
/pidl/cover_db
/pidl/Makefile
/pidl/pm_to_blib
/pidl/MYMETA.yml
/pidl/MYMETA.json
/packaging/RHEL-CTDB/samba.spec
/packaging/RHEL/samba.spec
/packaging/RHEL/makerpms.sh
/docs-xml/build/catalog.xml
/docs-xml/*/images/*.eps
/docs-xml/*/images/*.pdf
/docs-xml/output
/docs-xml/Samba3-ByExample/images/AccountingNetwork.png
/docs-xml/Samba3-ByExample/images/Charity-Network.png
/docs-xml/Samba3-ByExample/images/UNIX-Samba-and-LDAP.png
/docs-xml/Samba3-ByExample/images/acct2net.png
/docs-xml/Samba3-ByExample/images/ch7-dual-additive-LDAP-Ok.png
/docs-xml/Samba3-ByExample/images/ch7-dual-additive-LDAP.png
/docs-xml/Samba3-ByExample/images/ch7-fail-overLDAP.png
/docs-xml/Samba3-ByExample/images/ch7-singleLDAP.png
/docs-xml/Samba3-ByExample/images/ch8-migration.png
/docs-xml/Samba3-ByExample/images/chap4-net.png
/docs-xml/Samba3-ByExample/images/chap5-net.png
/docs-xml/Samba3-ByExample/images/chap6-net.png
/docs-xml/Samba3-ByExample/images/chap7-idresol.png
/docs-xml/Samba3-ByExample/images/chap9-ADSDC.png
/docs-xml/Samba3-ByExample/images/chap9-SambaDC.png
/docs-xml/Samba3-HOWTO/images/access1.png
/docs-xml/Samba3-HOWTO/images/browsing1.png
/docs-xml/Samba3-HOWTO/images/cups1.png
/docs-xml/Samba3-HOWTO/images/cups2.png
/docs-xml/Samba3-HOWTO/images/domain.png
/docs-xml/Samba3-HOWTO/images/idmap-gid2sid.png
/docs-xml/Samba3-HOWTO/images/idmap-sid2gid.png
/docs-xml/Samba3-HOWTO/images/idmap-sid2uid.png
/docs-xml/Samba3-HOWTO/images/idmap-store-gid2sid.png
/docs-xml/Samba3-HOWTO/images/idmap-uid2sid.png
/docs-xml/Samba3-HOWTO/images/pdftoepsonusb.png
/docs-xml/Samba3-HOWTO/images/pdftosocket.png
/docs-xml/Samba3-HOWTO/images/trusts1.png
.testrepository
/bin/.confcache/*/*
/bin/.conf_check_*/*
/.emacs.desktop*
.gdb_history
.clang-format
.agignore
# generated by configure
python/samba/provision/kerberos_implementation.py

# vagrant
.vagrant/

# Visual Studio Code
.vscode/

# read by pyenv to auto switch python envs
.python-version

# read by direnv to auto load environment variables
.envrc

# YouCompleteMe
compile_commands.json
.clangd/

# Clion
/.idea/**
/cmake-build-*/**

# CMake
/build/**

# Symlinks
/bin/user_del
/bin/smbcquotas
/bin/ldbdump
/bin/testsmbc
/bin/timelimit
/bin/ldbmodify
/bin/group_getusers
/bin/testctx
/bin/user_setgroups
/bin/wbinfo
/bin/test_ndr_dns_nbt
/bin/test_group_audit_errors
/bin/file_enum
/bin/ldb_mdb_mod_op_test
/bin/file_getinfo
/bin/localgroup_getinfo
/bin/test_audit_log
/bin/testchmod
/bin/smbspool_argv_wrapper
/bin/nmbd
/bin/smbtorture
/bin/test_sambafs_srv_pipe
/bin/test_rc4_passwd_buffer
/bin/samba_upgradeprovision
/bin/test_ndr_string
/bin/group_setinfo
/bin/user_modalsget
/bin/test_byteorder_verify
/bin/test_ms_fnmatch
/bin/async_connect_send_test
/bin/samba_upgradedns
/bin/notifydd
/bin/ldb_key_value_sub_txn_mdb_test
/bin/ldb_key_value_sub_txn_tdb_test
/bin/compile_et
/bin/regshell
/bin/localgroup_delmembers
/bin/test_vfs_gpfs
/bin/tdbtorture
/bin/test_bytearray
/bin/share_enum
/bin/rpc_open_tcp
/bin/smbconftort
/bin/smbtorture3
/bin/test_mdsparser_es
/bin/asn1_compile
/bin/locktest2
/bin/test_ndr_macros
/bin/djoin
/bin/winbindd
/bin/nsstest
/bin/ldb_tdb_guid_mod_op_test
/bin/user_add
/bin/samba4kgetcred
/bin/masktest
/bin/dns_lookuptest
/bin/smbcacls
/bin/share_getinfo
/bin/ldbsearch
/bin/ldb_parse_test
/bin/vfstest
/bin/netapitest
/bin/testbrowse2
/bin/dbwrap_torture
/bin/regtree
/bin/stress-nss-libwbclient
/bin/test_rpc_dns_server_dnsutils
/bin/samba_kcc
/bin/ldb_mdb_kv_ops_test
/bin/test_kerberos
/bin/pthreadpooltest_cmocka
/bin/localgroup_enum
/bin/group_del
/bin/group_setusers
/bin/test_audit_log_errors
/bin/user_modalsset
/bin/samba4ktutil
/bin/share_add
/bin/localgroup_addmembers
/bin/smbaddshare
/bin/samba-regedit
/bin/tdbrestore
/bin/smbcontrol
/bin/getjoininformation
/bin/user_getgroups
/bin/audit_logging_test
/bin/test_headers
/bin/teststat2
/bin/testtruncate
/bin/lldb_ldap_test
/bin/split_tokens
/bin/msg_source
/bin/profiles
/bin/testnotify
/bin/share_setinfo
/bin/gentest
/bin/rpcclient
/bin/ldb_match_test
/bin/test_memcache
/bin/ldbedit
/bin/notifyd-tests
/bin/rename_machine
/bin/eventlogadm
/bin/versiontest
/bin/nltest
/bin/test_util_paths
/bin/ldb_key_value_test
/bin/ldbadd
/bin/group_enum
/bin/test_tldap
/bin/share_del
/bin/localgroup_del
/bin/test_audit_util
/bin/tdbdump
/bin/test_group_audit
/bin/locktest
/bin/testacl
/bin/regpatch
/bin/group_getinfo
/bin/mvxattr
/bin/test_util_translate
/bin/nmblookup
/bin/testwrite
/bin/testacl3
/bin/oLschema2ldif
/bin/localgroup_getmembers
/bin/testutime
/bin/test_byteorder
/bin/test_rfc1738
/bin/samba_dnsupdate
/bin/pdbedit
/bin/ldb_lmdb_free_list_test
/bin/user_getinfo
/bin/smbtree
/bin/msg_sink
/bin/test_ndr
/bin/test_vfs_posixacl
/bin/test_tevent_tag
/bin/test_lp_load
/bin/test_ldb_qsort
/bin/test_ntlm_check
/bin/smbget
/bin/test_creds
/bin/ldb_lmdb_test
/bin/test_encrypted_secrets_mdb
/bin/pthreadpooltest
/bin/test_unique_object_sids
/bin/smbclient
/bin/ndrdump
/bin/samba-tool
/bin/smbd
/bin/getjoinableous
/bin/localgroup_add
/bin/gen_output.py
/bin/provision_computer_account
/bin/tdbbackup
/bin/test_talloc_keep_secret
/bin/texpect
/bin/teststat3
/bin/test_lib_util_modules
/bin/ldbdel
/bin/test_ldap_message
/bin/smbpasswd
/bin/user_chgpwd
/bin/samba
/bin/net
/bin/samba-gpupdate
/bin/teststat
/bin/test_vfs_full_audit
/bin/test_smb1cli_session
/bin/group_adduser
/bin/test_util
/bin/testacl2
/bin/user_getlocalgroups
/bin/test_ldb_dn
/bin/smbchangeshare
/bin/shutdown_abort
/bin/sharesec
/bin/smbfilter
/bin/audit_logging_error_test
/bin/request_offline_domain_join
/bin/getdc
/bin/smbspool
/bin/samba_downgrade_db
/bin/test_repl_decrypt
/bin/test_background_send
/bin/localgroup_setmembers
/bin/msgtest
/bin/test_cmdline
/bin/user_setinfo
/bin/netlogon_control2
/bin/test_gnutls
/bin/file_close
/bin/ldb_lmdb_size_test
/bin/test_krb5samba
/bin/pdbtest
/bin/samba4kpasswd
/bin/vlp
/bin/localgroup_setinfo
/bin/smbdeleteshare
/bin/shared/libndr-nbt.so.0
/bin/shared/libsamba-util.so.0
/bin/shared/libndr.so.2
/bin/shared/libsamba-hostconfig.so.0
/bin/shared/libsmbconf.so.0
/bin/shared/libndr-standard.so.0
/bin/shared/libndr-krb5pac.so.0
/bin/shared/libsamba-errors.so.1
/bin/shared/libsamdb.so.0
/bin/shared/libtevent-util.so.0
/bin/shared/libdcerpc-binding.so.0
/bin/shared/libsamba-credentials.so.1
/bin/shared/private/libinterfaces-samba4.so
/bin/shared/private/libmsghdr-samba4.so
/bin/shared/private/libclidns-samba4.so
/bin/shared/private/libsecrets3-samba4.so
/bin/shared/private/libsamdb-common-samba4.so
/bin/shared/private/libsocket-blocking-samba4.so
/bin/shared/private/libmessages-util-samba4.so
/bin/shared/private/libgensec-samba4.so
/bin/shared/private/libsmb-transport-samba4.so
/bin/shared/private/libdbwrap-samba4.so
/bin/shared/private/libcom_err-samba4.so.0
/bin/shared/private/libwinbind-client-samba4.so
/bin/shared/private/libldb.so.2
/bin/shared/private/libkrb5-samba4.so.26
/bin/shared/private/libhx509-samba4.so.5
/bin/shared/private/libsamba-cluster-support-samba4.so
/bin/shared/private/libgssapi-samba4.so.2
/bin/shared/private/libcmdline-samba4.so
/bin/shared/private/liblibsmb-samba4.so
/bin/shared/private/libutil-tdb-samba4.so
/bin/shared/private/libsamba-security-samba4.so
/bin/shared/private/libnetif-samba4.so
/bin/shared/private/libserver-role-samba4.so
/bin/shared/private/libaddns-samba4.so
/bin/shared/private/libwind-samba4.so.0
/bin/shared/private/libtalloc-report-printf-samba4.so
/bin/shared/private/libcluster-samba4.so
/bin/shared/private/libkrb5samba-samba4.so
/bin/shared/private/libasn1util-samba4.so
/bin/shared/private/libevents-samba4.so
/bin/shared/private/libflag-mapping-samba4.so
/bin/shared/private/libtevent.so.0
/bin/shared/private/libsamba-debug-samba4.so
/bin/shared/private/libgenrand-samba4.so
/bin/shared/private/libutil-reg-samba4.so
/bin/shared/private/libtdb-wrap-samba4.so
/bin/shared/private/libutil-setid-samba4.so
/bin/shared/private/libcommon-auth-samba4.so
/bin/shared/private/libndr-samba4.so
/bin/shared/private/libcliauth-samba4.so
/bin/shared/private/libsamba3-util-samba4.so
/bin/shared/private/libtime-basic-samba4.so
/bin/shared/private/libtalloc.so.2
/bin/shared/private/libcli-ldap-samba4.so
/bin/shared/private/libauthkrb5-samba4.so
/bin/shared/private/libsamba-modules-samba4.so
/bin/shared/private/libcli-ldap-common-samba4.so
/bin/shared/private/libsmbd-shim-samba4.so
/bin/shared/private/libserver-id-db-samba4.so
/bin/shared/private/libndr-samba-samba4.so
/bin/shared/private/libroken-samba4.so.19
/bin/shared/private/libsys-rw-samba4.so
/bin/shared/private/libtdb.so.1
/bin/shared/private/libheimbase-samba4.so.1
/bin/shared/private/libMESSAGING-SEND-samba4.so
/bin/shared/private/libhcrypto-samba4.so.5
/bin/shared/private/libasn1-samba4.so.8
/bin/shared/private/libldbsamba-samba4.so
/bin/shared/private/libcli-cldap-samba4.so
/bin/shared/private/libmessages-dgm-samba4.so
/bin/shared/private/libiov-buf-samba4.so
/bin/shared/private/libcli-smb-common-samba4.so
/bin/shared/private/libreplace-samba4.so
/bin/shared/private/libcli-nbt-samba4.so
/bin/shared/private/libgse-samba4.so
/bin/shared/private/libsamba-sockets-samba4.so
/bin/shared/private/libmsrpc3-samba4.so
/bin/shared/private/libCHARSET3-samba4.so
/bin/shared/private/libdcerpc-samba-samba4.so
/bin/shared/libwbclient.so.0
/bin/mdsearch
/bin/ldbrename
/bin/ldb_msg_test
/bin/resolvconftest
/bin/test_nfs4_acls
/bin/testread
/bin/smbclient4
/bin/test_encrypted_secrets_tdb
/bin/smbstatus
/bin/user_enum
/bin/test_schannel
/bin/dbwrap_tool
/bin/cifsdd
/bin/destroy_netlogon_creds_cli
/bin/ldb_tdb_kv_ops_test
/bin/genrandperf
/bin/samba-bgqd
/bin/regdiff
/bin/testparm
/bin/server_getinfo
/bin/ntlm_auth
/bin/ldb_tdb_mod_op_test
/bin/test_sys_rw
/bin/shutdown_init
/bin/test_tevent_trace
/bin/replace_testsuite
/bin/user_dispinfo
/bin/test_oLschema2ldif
/bin/ldb_filter_attrs_test
/bin/netdomjoin
/bin/teststatvfs
/bin/spotlight2es
/bin/remote_tod
/bin/samba_spnupdate
/bin/default/libcli/util/libsamba-errors.so.1
/bin/default/nsswitch/libwbclient/libwbclient.so.0.15
/bin/default/nsswitch/libwbclient/libwbclient.so.0
/bin/default/lib/ldb/libldb.so.2
/bin/default/lib/ldb/libldb.so.2.4.1
/bin/default/lib/tevent/libtevent.so.0.11.0
/bin/default/lib/tevent/libtevent.so.0
/bin/default/lib/param/libsamba-hostconfig.so.0.0.1
/bin/default/lib/param/libsamba-hostconfig.so.0
/bin/default/lib/util/libsamba-util.so.0
/bin/default/lib/util/libtevent-util.so.0.0.1
/bin/default/lib/util/libtevent-util.so.0
/bin/default/lib/util/libsamba-util.so.0.0.1
/bin/default/lib/talloc/libtalloc.so.2
/bin/default/lib/talloc/libtalloc.so.2.3.3
/bin/default/lib/tdb/libtdb.so.1
/bin/default/lib/tdb/libtdb.so.1.4.4
/bin/default/source4/dsdb/libsamdb.so.0
/bin/default/source4/dsdb/libsamdb.so.0.0.1
/bin/default/source4/heimdal_build/libcom_err-samba4.so.0.25
/bin/default/source4/heimdal_build/libwind-samba4.so.0.0.0
/bin/default/source4/heimdal_build/libcom_err-samba4.so.0
/bin/default/source4/heimdal_build/libkrb5-samba4.so.26
/bin/default/source4/heimdal_build/libhcrypto-samba4.so.5.0.1
/bin/default/source4/heimdal_build/libhx509-samba4.so.5
/bin/default/source4/heimdal_build/libgssapi-samba4.so.2
/bin/default/source4/heimdal_build/libroken-samba4.so.19.0.1
/bin/default/source4/heimdal_build/libhx509-samba4.so.5.0.0
/bin/default/source4/heimdal_build/libwind-samba4.so.0
/bin/default/source4/heimdal_build/libroken-samba4.so.19
/bin/default/source4/heimdal_build/libheimbase-samba4.so.1.0.0
/bin/default/source4/heimdal_build/libheimbase-samba4.so.1
/bin/default/source4/heimdal_build/libkrb5-samba4.so.26.0.0
/bin/default/source4/heimdal_build/libgssapi-samba4.so.2.0.0
/bin/default/source4/heimdal_build/libasn1-samba4.so.8.0.0
/bin/default/source4/heimdal_build/libhcrypto-samba4.so.5
/bin/default/source4/heimdal_build/libasn1-samba4.so.8
/bin/default/auth/credentials/libsamba-credentials.so.1
/bin/default/auth/credentials/libsamba-credentials.so.1.0.0
/bin/default/librpc/libndr.so.2.0.0
/bin/default/librpc/libndr-nbt.so.0
/bin/default/librpc/libndr.so.2
/bin/default/librpc/libndr-nbt.so.0.0.1
/bin/default/librpc/libdcerpc-binding.so.0.0.1
/bin/default/librpc/libndr-standard.so.0.0.1
/bin/default/librpc/libndr-standard.so.0
/bin/default/librpc/libndr-krb5pac.so.0
/bin/default/librpc/libdcerpc-binding.so.0
/bin/default/librpc/libndr-krb5pac.so.0.0.1
/bin/default/python
/bin/default/modules
/bin/default/source3/libsmbconf.so.0
/bin/default/shared
/bin/netlogon_control
/bin/testfstatvfs
/bin/ldb_tdb_test
/bin/nmblookup4
/bin/group_deluser
/bin/log2pcap
/bin/dsgetdc
/bin/samba4kinit
/bin/test_registry_regfio
/bin/ldbtest
/bin/tdbtool
/bin/testbrowse
/bin/group_add

# Executable
/bin/default/source4/heimdal_build/compile_et
/bin/default/source4/heimdal_build/asn1_compile
/bin/default/source3/client/smbclient

build-qemu*/**
